In [6]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
df_final = pd.read_csv('final_dataframe.csv')

In [4]:
df_new_final = df_final.fillna('0')

# df_final.head()

In [5]:
df_new_final.head()

,Unnamed: 0,aba,abandon,abil,abl,abomin,aboutpag,abroad,absent,absolut,...,youv,yup,yur,zero,zine,zip,zlist,zone,zoom,zoomin
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,4,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
features = df_new_final[[col for col in df_new_final.columns if col != 'Unnamed: 0']]
features.head()

,aba,abandon,abil,abl,abomin,aboutpag,abroad,absent,absolut,abstract,...,youv,yup,yur,zero,zine,zip,zlist,zone,zoom,zoomin
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
target = pd.DataFrame(df_new_final['Unnamed: 0'])
target

     Unnamed: 0
0             0
1             1
2             2
3             3
4             4
..          ...
281         281
282         282
283         283
284         284
285         285

[286 rows x 1 columns]

In [ ]:
features_train, features_test, target_train, target_test = train_test_split(
    iqr[['age', 'sex']], # Features (X)
    iqr[['survived']], # Target (y)
    test_sezi = .2
)

features_train.head()